<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
    <insert id="insertEshop" statementType="PREPARED" parameterType="javaCoffe.spring.mvc.vo.EshopVO">
        insert into eshop (title, brand, ogprice, dcprice, bigGenre, smallGenre, code, simpleExplain, shipPay, stuck, fsizes, fnames, uuid)
        values (#{title}, #{brand}, #{ogprice}, #{dcprice}, #{bigGenre}, #{smallGenre}, #{code}, #{simpleExplain}, #{shipPay}, #{stuck}, #{fsizes}, #{fnames}, #{uuid});
    </insert>

    <update id="updateEshop" statementType="PREPARED" parameterType="javaCoffe.spring.mvc.vo.EshopVO">
        update eshop
        set title = #{title},
            brand = #{brand},
            ogprice = #{ogprice},
            dcprice = #{dcprice},
            bigGenre = #{bigGenre},
            smallGenre = #{smallGenre},
            code = #{code},
            simpleExplain = #{simpleExplain},
            shipPay = #{shipPay},
            stuck = #{stuck},
            fsizes = #{fsizes},
            fnames = #{fnames},
            uuid = #{uuid}
        where eno = #{eno}
    </update>

    <delete id="deleteEshop" statementType="PREPARED" parameterType="int">
        delete from eshop where eno = #{eno}
    </delete>

    <select id="lastEnoId" statementType="PREPARED" resultType="String">
        select AUTO_INCREMENT -1 eno from information_schema.TABLES where TABLE_NAME = 'eshop';
    </select>

    <select id="selectAllData" statementType="PREPARED" parameterType="int" resultType="javaCoffe.spring.mvc.vo.BuyPageVO">
        select * from BuyPage order by buyno desc limit #{snum}, 30;
    </select>

    <select id="processModify" statementType="PREPARED" parameterType="map">
        update BuyPage set process = #{process} where buyno = #{buyno};
    </select>

    <select id="processBindModify" statementType="PREPARED" parameterType="map">
        update BuyPageBind set process = #{process} where buyno = #{buyno};
    </select>

    <select id="countData" statementType="PREPARED" resultType="int">
        select count(buyno) cnt from BuyPage;
    </select>

    <select id="countBindData" statementType="PREPARED" resultType="int">
        select count(buyno) cnt from BuyPageBind;
    </select>

    <select id="selectAllDataSearch" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.BuyPageVO">
        select * from BuyPage where process = #{adminSearchTxt} order by buyno desc limit #{snum}, 30;
    </select>

    <select id="selectAllBindDataSearch" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.BuyPageBindVO">
        select * from BuyPageBind where process = #{adminSearchTxt} order by buyno desc limit #{snum}, 30;
    </select>

    <select id="countDataSearch" statementType="PREPARED" parameterType="String" resultType="int">
        select count(buyno) cnt from BuyPage where process = #{adminSearchTxt};
    </select>

    <select id="countBindDataSearch" statementType="PREPARED" parameterType="String" resultType="int">
        select count(buyno) cnt from BuyPageBind where process = #{adminSearchTxt};
    </select>

    <select id="selectAllBindData" statementType="PREPARED" parameterType="int" resultType="javaCoffe.spring.mvc.vo.BuyPageBindVO">
        select * from BuyPageBind order by buyno desc limit #{snum}, 30;
    </select>
</mapper>