<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buyPage">

    <select id="selectMD" statementType="PREPARED" parameterType="String" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where code = #{code};
    </select>

    <select id="selectMBEL" statementType="PREPARED" parameterType="java.util.ArrayList" resultType="javaCoffe.spring.mvc.vo.MyBasket_EshopVO">
        SELECT mbno, mycode, mystuck, myprice, myuuid, myshipPay, mypname, myamount, myfnames, myeno,
               brand, ogprice, dcprice, salesVolumn
        FROM MyBasket M LEFT OUTER JOIN eshop e
        ON M.mycode = e.code
        WHERE mbno IN (
        <foreach collection="array" item="mbno" index="index" separator=",">
            ${mbno}
        </foreach>
        )
        order by mbno;
    </select>

    <select id="selectUser" statementType="PREPARED" parameterType="String" resultType="javaCoffe.spring.mvc.vo.MemberVO">
        select * from MemberJoin where userid = #{userid};
    </select>

    <insert id="insertData" statementType="PREPARED" parameterType="javaCoffe.spring.mvc.vo.BuyPageVO">
        insert into BuyPage (fnames, brand, title, shipPay, purchase, discount, totalOgprice, totalDcprice, deliveryZipcode, deliveryUserAddr1, deliveryUserAddr2, deliveryUserAddr3, userid, orderUsername, orderUserphone, orderUseremail, orderRequest, receiveName, receivePhone, receiveEmail, beforePoint, buyPageUsePoints, plusPoint, afterFinalPrice, eno)
        values (#{fnames}, #{brand}, #{title}, #{shipPay}, #{purchase}, #{discount}, #{totalOgprice}, #{totalDcprice}, #{deliveryZipcode}, #{deliveryUserAddr1}, #{deliveryUserAddr2}, #{deliveryUserAddr3}, #{userid}, #{orderUsername}, #{orderUserphone}, #{orderUseremail}, #{orderRequest}, #{receiveName}, #{receivePhone}, #{receiveEmail}, #{beforePoint}, #{buyPageUsePoints}, #{plusPoint}, #{afterFinalPrice}, #{eno})
    </insert>

    <update id="changePoints" statementType="PREPARED" parameterType="map">
        update MemberJoin set points = #{points} where userid = #{userid}
    </update>
</mapper>