<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eshop">

    <select id="selectCoffeGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by eno desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by eno desc limit #{snum}, #{cntNum};
    </select>

    <select id="countBigGenre" statementType="PREPARED" parameterType="String" resultType="int">
        select COUNT(code) from eshop where bigGenre = #{bigGenre};
    </select>

    <select id="selectCoffeGenreByThumbs" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by thumbs desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByThumbsWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by thumbs desc limit #{snum}, #{cntNum};
    </select>

    <select id="countBigGenreAndSmallGenre" statementType="PREPARED" parameterType="map" resultType="int">
        select COUNT(code) from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre};
    </select>

    <select id="selectCoffeGenreBySalesVolumn" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by salesVolumn desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreBySalesVolumnWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by salesVolumn desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByCheap" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by dcprice asc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByCheapWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by dcprice asc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByExpensive" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by dcprice desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByExpensiveWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by dcprice desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByComment" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by Comment desc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByCommentWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by Comment desc limit #{snum}, #{cntNum};
    </select>

    <!--일찍 등록한게 일찍뜨도록-->
    <select id="selectCoffeGenreByRegdate" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} order by regdate asc limit #{snum}, #{cntNum};
    </select>

    <select id="selectCoffeGenreByRegdateWithSmallGenre" statementType="PREPARED" parameterType="map" resultType="javaCoffe.spring.mvc.vo.EshopVO">
        select * from eshop where bigGenre = #{bigGenre} and smallGenre = #{smallGenre} order by regdate asc limit #{snum}, #{cntNum};
    </select>

</mapper>